body {
  background: #050000;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #77a9ca;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 8px;
}

.content {
  background: #77a9ca;
  margin-top: 8px ;
  margin-bottom: 8px ; 
  padding: 8px;
}

.button-container {
  display: block;
  background: #77a9ca;
  padding: 8px;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: 0 auto;
  padding: 8px 24px;
}